$primary-bgColor: #1D1E1E;
$primary-color: white;
$black: black;
$green-gradient: linear-gradient(117.9deg, #CAF229 -10.59%, #C9F528 42.04%, #9BF528 94.67%);
$green-textGradient: -webkit-linear-gradient(117.9deg, #CAF229 -10.59%, #C9F528 42.04%, #9BF528 94.67%);

body {
    margin: 0;
    padding: 0;
    background-color: $primary-bgColor;
    color:$primary-color;
    scroll-behavior: smooth;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

span {
  display: inline-block;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    
    @media (min-width: 640px) {
      max-width: 640px;
      padding: 0 20px;
    }
    @media (min-width: 768px) {
      max-width: 768px;
    }
    @media (min-width: 1024px) {
      max-width: 1024px;
    }
    @media (min-width: 1180px) {
      max-width: 1180px;
    }

}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 71px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 54px;
  }

  @media only screen and (max-width: 400px){
    font-size: 22px;
    line-height: 30px;
  }
}

