@use 'base';

.about-us {
    color: base.$primary-color;
    margin-top: 80px;
    margin-bottom: 113px;

    @media only screen and (max-width: 800px) {
        margin: 40px 0;
    }

    h2 {
        font-family: "Oswald", sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 71px;
        letter-spacing: 0.03em;
        text-align: left;

        @media only screen and (max-width: 800px) {
           font-size: 36px;
           line-height: 50px;
        }

        @media only screen and (max-width: 400px) {
            font-size: 22px;
            line-height: 30px;
        }
    }

    @media (hover: hover) {
        &:hover span{
            background: base.$green-textGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease;
        }
    }

    &-text {
        margin-top: 40px;

        @media only screen and (max-width: 400px) {
            margin-top: 20px;
        }
        p {
            font-family: "Inter", sans-serif;
            font-size: 36px;
            font-weight: 400;
            line-height: 43px;
            text-align: left;
            margin: 0;

            @media only screen and (max-width: 800px) {
                font-size: 22px;
                line-height: 30px;
            }

            @media only screen and (max-width: 400px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

       
    }
}

.team {
    &-inner {
        padding: 80px 0;

        @media only screen and (max-width: 800px) {
            padding: 40px 0;
        }
    }
    
    &-up {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        justify-content: space-between;
        align-items: flex-start;
        gap: 72px;

        @media only screen and (max-width: 1180px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-content: space-evenly;
            justify-items: center;
            align-items: center;
            gap: 40px;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: none;
            grid-template-rows: repeat(4, 1fr);
        }
    }


    &-item {
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 73px;

        p {
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            margin: 20px 0 0 0;
            transition: color 0.3s ease;

            @media only screen and (max-width: 400px) {
                font-size: 18px;
                line-height: 20px;
            }
        }

        span {
            font-family: "Oswald", sans-serif;
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;

            @media only screen and (max-width: 400px) {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }

    &-text {

        text-align: center;
    }

    &-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &-wrapper {
            width: 240px;
            height: 124px;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            
            @media (hover: hover) {
                &:hover {
                    transform: scale(1.01);
                }
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                opacity: 70%;
                border-radius: 20px;
                border: 2px solid transparent;
                background: linear-gradient(117.9deg, #CAF229 -10.59%, #C9F528 42.04%, #9BF528 94.67%) border-box;
                -webkit-mask:
                    linear-gradient(#fff 0 0) padding-box, 
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude;
                box-shadow: 0px 4px 4px 0px #00000040;
                transition: background 0.3s ease;
            }
        }

        img {
            position: absolute;
            bottom: 92px;
        }

        h3 {
            font-family: "Oswald", sans-serif;
            font-size: 36px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.03em;
            transition: color 0.3s ease;
        }
    }

    @media (hover: hover) {
        &:hover {
            background: base.$green-gradient;
            transition: background 0.3s ease;
    
            .team-block-wrapper {
                border-radius: 20px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
    
            .team-block-wrapper::before {
                background: white;
            }
            h3 {
                color: black;
            }
        
            p {
                color: black;
            }
        }
    }
}