@use 'base';

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: base.$primary-color;  

    h1 {
        font-family: "Oswald", sans-serif;
        font-size: 76px;
        font-weight: 600;
        line-height: 76px;
        text-align: left;
        margin: 80px 0;

        span {
            background: base.$green-textGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        @media only screen and (max-width: 800px) {
            font-size: 48px;
            line-height: 48px;
            margin: 40px 0;
        }

        @media only screen and (max-width: 600px) {
            font-size: 36px;
            line-height: 36px;
        }
    }
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 160px;
    margin-bottom: 80px;
    z-index: 100;

    @media only screen and (max-width: 1180px) {
        gap: 100px;
    }

    @media only screen and (max-width: 800px) {
        margin-bottom: 40px;
        gap: 60px;
    }

    @media only screen and (max-width: 600px) {
        gap: 10px;
    }

    &-block{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 280px;
        
        @media (max-width: 768px) {
            width: 166px;
        }
        

        span {
            font-size: 64px;
            line-height: 64px;
            font-weight: 600;
            font-family: "Oswald", sans-serif;
            margin-bottom: 20px;

            @media only screen and (max-width: 800px) {
                font-size: 48px;
                line-height: 48px;
            }

            @media only screen and (max-width: 600px) {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 10px;
            }
        
            @media (hover: hover) {
                &:hover {
                    background: base.$green-textGradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.3s ease;
                }
            }
        }

        p {
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            letter-spacing: 0.03em;
            margin: 0;

            @media only screen and (max-width: 800px) {
                font-size: 16px;
                line-height: 20px;
            }

            @media only screen and (max-width: 600px) {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}

.btn-join {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    @media only screen and (max-width: 800px) {
        margin-bottom: 40px;
    }

    @media only screen and (max-width: 400px) {
        margin-bottom: 30px;
    }

    span {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        margin-bottom: 20px;

        
        @media only screen and (max-width: 400px) {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 10px;
        }
    }
    button {
        width: 280px;
        height: 60px;
        background-image: base.$green-gradient;
        border-radius: 10px;
        padding: 2px;
        z-index: 100;

        @media only screen and (max-width: 800px) {
            width: 234px;
            height: 44px;
        }

        @media only screen and (max-width: 400px) {
            width: 100%;
        }
    }
    
    .btn-text {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        border-radius: 10px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        font-family: "Inter", sans-serif;  
        margin: 0;

        
        @media (hover: hover) {
            &:hover {
                color: base.$primary-color;
                background-color: base.$primary-bgColor;
                box-shadow: 0px 0px 10px 0px #C9F528;
                transition: all 0.3s ease;
            }
        }
    }
    
}
.banner-circle {
    position: relative;
}
.circle-div {
    width: 963px;
    height: 973px;
    background-image: url("/src/assets/banner-circle.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: -70px;
    right: 0;

    @media only screen and (max-width: 1180px) {
        width: 580px;
        height: 586px;
        background-image: url("/src/assets/banner-circle-768.svg");
        position: absolute;
        top: -30px;
        right: 0;
    }

    @media only screen and (max-width: 600px) {
        width: 325px;
        height: 329px;
        background-image: url("/src/assets/banner-circle-360.svg");
        position: absolute;
        top: -30px;
        right: 0;
    }
}