@use 'base';

.mentors {
    margin: 80px 0;
}
.card {
    width: 340px;
    height: 572px;
    position: relative;
    background: #1D1E1E;
    border-radius: 30px;
    display: none;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        display: inline-block;
        transition: 0.2s ease;
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(201, 245, 40, 1);
            transition: all 300ms ease;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(117.9deg, #CAF229 -10.59%, #C9F528 42.04%, #9BF528 94.67%) border-box;
        z-index: -1;
        border-radius: 30px;
    }

    &-image {
        width: 100%;
        height: 284px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 28px;
        }

        span {
            position: absolute;
            bottom: 20px;
            left: 0px;
            font-family: "Oswald", sans-serif;
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;
            padding: 2px 30px;
            text-align: center;
            color: black;
            background: rgba(217, 217, 217, 0.5);
            box-shadow: -1.6px 1.6px 1.6px 0px rgba(255, 255, 255, 0.22) inset;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;

        h4 {
            font-family: "Oswald", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            background: base.$green-textGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;

        }

        &-block {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 10px;
            margin-bottom: 20px;

            span {
                font-family: "Oswald", sans-serif;
                font-size: 20px;
                font-weight: 300;
                line-height: 20px;
                text-align: left;
                white-space: nowrap;
                display: inline-block;
                background: base.$green-textGradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                text-align: left;
                margin: 0;
            }
        }

        &-social {
            display: flex;
            flex-direction: row;
            gap: 48px;

            a {
                font-family: "Oswald", sans-serif;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                text-align: left;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 7px;
                letter-spacing: 0.03em;
                color: base.$primary-color;
            }

            .telegram {
                &::before {
                    content: "";
                    background-image: url("/src/assets/telegram.svg");
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 24px;
                    display: block;
                }
            }

            .vk {
                &::before {
                    content: "";
                    background-image: url("/src/assets/vkontakte.svg");
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 18px;
                    display: block;
                }
            }
        }
    }
}

.slider {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    justify-content: center;
    gap: 60px;
    margin: 80px 0;

    @media only screen and (max-width: 1181px) {
        grid-template-columns: repeat(2, 340px);
        gap: 20px;
    }

    @media only screen and (max-width: 800px) {
        margin: 40px 0;
    }

    @media only screen and (max-width: 760px) {
        grid-template-columns: repeat(1, 340px);
        margin: 20px 0;
    }
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    #btn-more {
        width: 300px;
        height: 42px;
        background-image: base.$green-gradient;
        border-radius: 10px;
        padding: 2px;
        display: none;

        @media only screen and (max-width: 800px) {
            width: 234px;
            height: 44px;
        }

        @media only screen and (max-width: 400px) {
            width: 100%;
        }
    }
    
    .btn-text {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        border-radius: 10px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        font-family: "Inter", sans-serif;  
        margin: 0;

        
        @media (hover: hover) {
            &:hover {
                color: base.$primary-color;
                background-color: base.$primary-bgColor;
                box-shadow: 0px 0px 10px 0px #C9F528;
                transition: all 0.3s ease;
            }
        }
    }
}


.participants {
    margin: 80px 0;

    &-slider {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 80px 0;

        @media only screen and (max-width: 600px) {
            gap: 20px;
        }
    }

    &-card {
        width: 567px;
        height: 390px;
        position: relative;
        background: #1D1E1E;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            width: 320px;
            height: 634px;
            padding: 0;
        }

        @media (hover: hover) {
            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(201, 245, 40, 1);
                transition: all 300ms ease;
            }
        }
    
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            background: linear-gradient(117.9deg, #CAF229 -10.59%, #C9F528 42.04%, #9BF528 94.67%) border-box;
            z-index: -1;
            border-radius: 30px;
        }

        &-image {
            width: 248px;
            height: 350px;
            position: relative;

            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 284px;
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 28px;
            }
    
            span {
                position: absolute;
                bottom: 20px;
                left: 0px;
                font-family: "Oswald", sans-serif;
                font-size: 24px;
                font-weight: 300;
                line-height: 30px;
                padding: 5px 30px;
                text-align: center;
                color: #C9F528;
                background: rgba(217, 217, 217, 0.5);
                box-shadow: -1.6px 1.6px 1.6px 0px rgba(255, 255, 255, 0.22) inset;
            }
        }
    
        &-info {
            width: 260px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @media only screen and (max-width: 600px) {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
            }
    
            h4 {
                font-family: "Oswald", sans-serif;
                font-size: 32px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                background: base.$green-textGradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 20px;
                letter-spacing: 0.03em;    

                @media only screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }
    
            &-block {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 10px;
                margin-bottom: 20px;
    
                span {
                    font-family: "Oswald", sans-serif;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 20px;
                    text-align: left;
                    white-space: nowrap;
                    display: inline-block;
                    background: base.$green-textGradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
    
                p {
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    text-align: left;
                    margin: 0;
                }
            }
    
            &-social {
                display: flex;
                flex-direction: row;
                gap: 48px;
    
                a {
                    font-family: "Oswald", sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 30px;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 7px;
                    letter-spacing: 0.03em;
                    color: base.$primary-color;
                }
    
                .telegram {
                    &::before {
                        content: "";
                        background-image: url("/src/assets/telegram.svg");
                        background-repeat: no-repeat;
                        width: 28px;
                        height: 24px;
                        display: block;
                    }
                }
    
                .vk {
                    &::before {
                        content: "";
                        background-image: url("/src/assets/vkontakte.svg");
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 18px;
                        display: block;
                    }
                }
            }
        } 
    }
}

.learn-more {
    width: 100%;
    height: 42px;
    background-image: base.$green-gradient;
    border-radius: 10px;
    padding: 2px;
    margin-top: 27px;

    @media only screen and (max-width: 800px) {
        width: 234px;
        height: 44px;
        margin: 27px auto 0 auto;
    }

    @media only screen and (max-width: 400px) {
        width: 100%;
    }
}

.btn-text {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;  
    margin: 0;

    
    @media (hover: hover) {
        &:hover {
            color: base.$primary-color;
            background-color: base.$primary-bgColor;
            box-shadow: 0px 0px 10px 0px #C9F528;
            transition: all 0.3s ease;
        }
    }
}

.swiper-slide {

    @media only screen and (max-width: 500px) {
        display: flex !important; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.swiper-pagination-bullet {
    background-color: white !important;
    height: 8px !important;
    width: 8px !important;
}

.swiper-pagination-bullet-active {
  background-color: #C9F528 !important;
  width: 80px !important;
  height: 4px !important;
  border-radius: 6px !important;
}

.swiper-button-next {
    color: white !important;
}
.swiper-button-prev {
    color: white !important;
}