@use 'base';

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 80px 0;

    @media only screen and (max-width: 400px){
        margin: 40px 0;
    }

    .logo {
        margin-right: 124px;

        @media only screen and (max-width: 400px){
            margin-right: 20px;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 17px;

        &-link {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: base.$primary-color;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: base.$green-gradient;
                display: block;
                z-index: 1;
                opacity: 0;
            }
        
            &:hover::after {
                width: 100%;
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
    }
}

#btn-arrow-up {
    display: none;
    background: transparent;
    position: fixed;
    right: 85px;
    bottom: 80px;
    padding: 0;
    width: 120px;
    height: 120px;
    background-image: url("/src/assets/arrow-up.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
    #btn-arrow-up {
        right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #btn-arrow-up {
        width: 48px;
        height: 48px;
        background-image: url("/src/assets/arrow-up-360.svg");
        right: 20px;
    }
}

@media (hover: hover) and (min-width: 601px) {
    #btn-arrow-up:hover {
        width: 120px;
        height: 120px;
        background-image: url("/src/assets/arrow-up-hover.svg");
        transition: width 0.3s ease, height 0.3s ease; 
    }
}


.showBtn {
    display: block;
} 


.social {
    padding: 80px 0;

    @media only screen and (max-width: 400px){
        padding: 40px 0 20px 0;
    }
    
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 80px;

        @media only screen and (max-width: 400px){
            margin-top: 20px;
        }
    }

    &-circle {
        position: relative;

    }

    &-youtube {
        width: 50px;
        height: 35px;
        background-image: url("/src/assets/youtube.svg");
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top: 8px;
        left: 147px;

        @media only screen and (max-width: 600px){
            left: 115px;
        }

        @media (hover: hover) {
            &:hover {
                width: 60px;
                height: 42px;
                background-image: url("/src/assets/youtube-hover.svg");
                transition: all 0.3s ease;
            }
        }
    }

    &-vk {
        width: 50px;
        height: 30px;
        background-image: url("/src/assets/vk.svg");
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 13px;
        bottom: 200px;

        @media only screen and (max-width: 600px){
            bottom: 150px;
        }

        @media (hover: hover) {
            &:hover {
                width: 68px;
                height: 45px;
                background-image: url("/src/assets/vk-hover.svg");
                transition: all 0.3s ease;
            }
        }
    }

    &-tg {
        width: 50px;
        height: 43px;
        background-image: url("/src/assets/tg.svg");
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: 40px;
        bottom: 152px;

        @media only screen and (max-width: 600px){
            bottom: 100px;
        }

        @media (hover: hover) {
            &:hover {
                width: 60px;
                height: 52px;
                background-image: url("/src/assets/tg-hover.svg");
                transition: all 0.3s ease;
            }
        }
    }
}

.social-circle {
    width: 606px;
    height: 610px;
    background-image: url("/src/assets/social-circle.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;

    @media only screen and (max-width: 600px) {
        width: 359px;
        height: 365px;
        background-image: url("/src/assets/social-circle-360.svg");
    }
}