@use 'base';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;

    @media only screen and (max-width: 800px) {
        padding: 8px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 66px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
        
        &-link {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            color: base.$primary-color;
            position: relative;
            z-index: 100;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: base.$green-gradient;
                display: block;
                z-index: 1;
                opacity: 0;
            }
        
            @media (hover: hover) {
                &:hover::after {
                    width: 100%;
                    opacity: 1;
                    transition: all 0.3s ease;
                }
            }
        }
        
    }
    
}

.logo {
    display: block;
    background-image: url('/src/assets/logo.svg');
    background-repeat: no-repeat;
    width: 176px;
    height: 64px;

    @media (max-width: 768px) {
        background-image: url('/src/assets/logo-768.svg');
        background-repeat: no-repeat;
        width: 132px;
        height: 48px;
    }

}

.open-menu {
  display: block;
  background-image: url('/src/assets/menu.svg');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.close-menu {
  background-image: url('/src/assets/close-menu.svg');
}

#burger-menu {
  cursor: pointer;
  overflow: visible;
  position: relative;
  z-index: 201;
  display: none;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
      display: block;
  }
}

#menu{
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  height:0;
  visibility: hidden;
  opacity: 0;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:60px;
  background: rgba(29, 30, 30, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 200;
}

#menu li{
  list-style:none;
}

#menu a{
  font-family: "Inter", sans-serif;
  color: base.$primary-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.menu-opened {
  overflow: hidden;
}

.menu-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  
  &-youtube {
    width: 50px;
    height: 38px;
    background-image: url("/src/assets/menu-youtube.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }

  &-vk {
    width: 50px;
    height: 38px;
    background-image: url("/src/assets/menu-vk.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;

  }

  &-tg {
    width: 50px;
    height: 38px;
    background-image: url("/src/assets/menu-tg.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
}

.menu-nav {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  li {
    padding: 20px 0;
  }
}