@use 'base';

.internship {
    margin-top: 80px;

    @media only screen and (max-width: 800px) {
        margin-top: 40px;
    }

    &-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 80px 0;

        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }

        @media only screen and (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            margin: 40px 0;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            margin: 20px 0;
            gap: 20px;
        }

    }

    &-item {
        height: 250px;
        position: relative;
        background-image: base.$green-gradient;
        border-radius: 20px;
        padding: 2px;
        
        @media (hover: hover) {
            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(201, 245, 40, 0.5);
                transition: all 300ms ease;
            }
        }
        
        &-inner {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: base.$primary-bgColor;
            padding: 16px 32px;
            box-sizing: border-box;
            
            @media only screen and (max-width: 768px) {
                padding: 23px;
            }
        }

        h3 {
            font-family: "Oswald", sans-serif;
            font-size: 32px;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 0.03em;
            text-align: left;

            @media only screen and (max-width: 800px) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        p {
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            text-align: left;
            margin: 0;
            
            @media only screen and (max-width: 800px) {
                font-size: 16px;
                line-height: 20px;
                margin-top: 10px;
                font-weight: 400;
            }
        }
    }

}

.accordion {
    width: 100%;
    padding: 80px 0;

    @media only screen and (max-width: 800px) {
        padding: 40px 0;
    }

    h2 {
        font-family: "Oswald", sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 71px;
        letter-spacing: 0.03em;
        text-align: left;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            font-size: 36px;
            line-height: 54px;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 400px) {
            font-size: 22px;
            line-height: 30px;
        }
    }
    
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 20px 0;
        user-select: none;
        cursor: pointer;
        border-bottom: 2px solid rgba(255, 255, 255, 1);

        @media only screen and (max-width: 800px) {
            padding: 20px 0;
        }

        h3 {
            font-family: "Oswald", sans-serif;
            font-size: 32px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.03em;

            @media only screen and (max-width: 800px) {
                font-size: 28px;
            }

            @media only screen and (max-width: 400px) {
                font-size: 20px;
            }
        }
        @media (hover: hover) {
            &:hover {
                h3{
                    background: base.$green-textGradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.3s ease;
                }
        
                .accordion-toggle.plus {
                    background-image: url('/src/assets/plus-hover.svg');

                    @media only screen and (max-width: 400px){
                        background-image: url('/src/assets/plus-360-hover.svg');
                    }

                }

            
            }
        }
    }
    
    &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, padding 0.5s ease;
        padding: 0 0;

        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;

        @media only screen and (max-width: 400px){
            font-size: 16px;
            line-height: 20px;
        }
    }

    &-toggle {
        width: 40px;
        height: 40px;
        background: no-repeat center center;
        background-size: contain;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        transition: transform 0.3s ease;
    }
}

.accordion-toggle.plus {
    background-image: url('/src/assets/plus.svg');

    @media only screen and (max-width: 400px){
        background-image: url('/src/assets/plus-360.svg');
    }
}

.accordion-toggle.minus {
    background-image: url('/src/assets/close.svg');

    @media only screen and (max-width: 400px){
        background-image: url('/src/assets/close-360.svg');
    }

    @media (hover: hover) {
        &:hover {
            background-image: url('/src/assets/close-hover.svg');
        }

        @media only screen and (max-width: 400px){
            &:hover {
                background-image: url('/src/assets/close-360-hover.svg');
            }
        }

        
    }
}

.open {
    background: base.$green-textGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}