@use 'base';

.modal {
    display: none;
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(29, 30, 30, 0.2);


    &-image {
        width: 316px;
        height: 446px;
        position: relative;

        @media only screen and (max-width: 500px) {
            width: 248px;
            height: 350px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 28px;
        }

        span {
            position: absolute;
            bottom: 30px;
            left: 0px;
            font-family: "Oswald", sans-serif;
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;
            padding: 5px 30px;
            text-align: center;
            color: #C9F528;
            background: rgba(217, 217, 217, 0.5);
            box-shadow: -1.6px 1.6px 1.6px 0px rgba(255, 255, 255, 0.22) inset;
        }
    }

    &-social {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        a {
            font-family: "Oswald", sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;
            letter-spacing: 0.03em;
            color: base.$primary-color;
        }

        .telegram {
            &::before {
                content: "";
                background-image: url("/src/assets/telegram.svg");
                background-repeat: no-repeat;
                width: 28px;
                height: 24px;
                display: block;
            }
        }

        .vk {
            &::before {
                content: "";
                background-image: url("/src/assets/vkontakte.svg");
                background-repeat: no-repeat;
                width: 30px;
                height: 18px;
                display: block;
            }
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h4 {
            font-family: "Oswald", sans-serif;
            font-size: 32px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            background: base.$green-textGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
            letter-spacing: 0.03em;    
        }

        &-block {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 10px;
            margin-bottom: 20px;

            span {
                font-family: "Oswald", sans-serif;
                font-size: 20px;
                font-weight: 300;
                line-height: 20px;
                text-align: left;
                white-space: nowrap;
                display: inline-block;
                background: base.$green-textGradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                text-align: left;
                margin: 0;
            }
        }
    } 
  }

.scrollbar {

	height: 400px;
	overflow-y: scroll;
    padding-right: 20px;

}

.force-overflow
{
	min-height: 450px;
}
  
.modal-content {
  background-color: rgba(29, 30, 30, 1);
  margin: 15% auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(61 67 67);

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 500px) {
    align-items: center;
    padding: 60px 20px 20px 20px;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 70px;
  font-weight: normal;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;

  @media only screen and (max-width: 500px) {
    top: 0;
    right: 20px;
    font-size: 60px;
  }
}

.close:hover,
.close:focus {
  color: #CAF229;
  text-decoration: none;
  cursor: pointer;
}

#style-2::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 1);
}

#style-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(217, 217, 217, 0.3);
	background-color: #CAF229;
}